<!DOCTYPE HTML>
<HTML>
	<head>
		<title>Chatter bot</title>	
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>
		{% block javascript %}
		<script type='text/javascript'>
			{% include 'controller.js' %}	
		</script>
		{% endblock %}
		<!--style type="text/css">
			{% include "styling.css" %}
		</style-->
		</head>
	{% raw %}
	<body>
		<div ng-app="botApp" ng-controller="chatController">
			<div scroll-glue="glued" class="scrollable">
				<div ng-repeat="message in history track by $index">
					<p>{{message}}</p>
				</div>
			</div>
			<form ng-submit="tell_bot(message)">
				<input type="text" ng-model="message">
				<input type="submit" ng-model="message">
			</form>
		</div>
	</body>
	{% endraw %}
</HTML>
